<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="icon" href="../img/weather.png">
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <div class='main-content'>
            {{>header}}
            <p>Hi there,</p>
            <p>This app was created by Salman Mohammad.The app works by using data from two APIs darksky.net and mapbox</p>
            <p>The app takes the address you provide and turns it into longitude and latitude using the mapbox search API.</p>
            <p>Next, it takes those longitude and latitude values and get weather data from darksky.net API and presents a forecast.</p>
            <img class = 'portrait' src="../img/robot.png" alt="Robot Image">
        </div>
        
        {{>footer}}
    </body>

</html>